<% layout("layouts/boilerplate")%>
<div class="row mb-3">
  <a href="/coffeeshops">Go back</a>
</div>
<div class="row align-items-md-stretch mb-3">
  <div class="col-md-6">
    <img class="img-fluid rounded-3" src="<%= cafe.image %> " alt="" />
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h1><%=cafe.title %></h1>
      <p><%= cafe.description %></p>
      <p><strong><%=cafe.location %></strong></p>
      <p><small>Submitted By <%= cafe.author.username %></small></p>
      <p class="text-muted">
        Average coffee price: <em>$<%= cafe.avgprice %>/cup</em>
      </p>
      <% if (currentUser && cafe.author.equals(currentUser._id)) { %>

      <div class="author-buttons">
        <a
          class="btn btn-outline-warning d-inline"
          href="/coffeeshops/<%=cafe._id %>/edit"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/coffeeshops/<%= cafe._id %>?_method=DELETE"
          method="post"
        >
          <button class="btn btn-outline-danger">Delete</button>
        </form>
      </div>
      <% } %>
    </div>
  </div>
</div>
<div class="bg-light rounded-3 shadow-sm p-5 mb-5">
  <h4>Recent comments</h4>
  <% for(let review of cafe.reviews){ %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">User says:</h5>
      <p class="text-center text-muted"><%= review.rating %>/5 stars</p>
      <p class="card-text"><%= review.body %></p>
      <form
        action="/coffeeshops/<%= cafe._id %>/reviews/<%= review._id %>?_method=DELETE"
        method="post"
      >
        <button class="btn btn-sm btn-danger">Delete</button>
      </form>
    </div>
  </div>
  <% } %>
</div>
<div class="bg-light rounded-3 shadow-sm p-5 mb-5">
  <h5 class="mb-4">Leave Comment</h5>
  <form
    action="/coffeeshops/<%= cafe._id %>/reviews"
    method="post"
    class="validated-form"
    novalidate
  >
    <div class="mb-3">
      <label for="rating" class="form-label">Your rating:</label>
      <input
        type="range"
        class="form-range"
        min="1"
        max="5"
        step="0.5"
        id="rating"
        name="review[rating]"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="body">Your Comment:</label>
      <textarea
        class="form-control"
        id="body"
        name="review[body]"
        cols="12"
        rows="4"
        required
      ></textarea>
      <div class="invalid-feedback">You can't leave the review empty</div>
    </div>
    <div class="mb-3">
      <button class="btn btn-primary">Submit Comment</button>
    </div>
  </form>
</div>
